<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is about me</h1>
    <p> Business Intelligence and Big Data Analytics have a reputation for excellence and has world commitment to innovate for inspiring Business Intelligence,
        Data Mining and Internet of things is near and dear to  my heart.
        I am very interested in Big Data Analytic (BDA), Data Mining (DM) and Data Science.
        I will like to become a professional Big Data analyst.
        I have also a sound knowledge of Databases, Data Mining and Data warehousing. Besides this,
        I have worked in R, Python, Java, C++ etc. I also have some experience in web Development </p>
</body>
</html>